<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand logo" href="#">Consulti</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" [routerLink]="['/eventos']">Crear evento</a>
      <a class="nav-item nav-link"[routerLink]="['/user']">Eventos creados</a>
      <a class="nav-item nav-link"[routerLink]="['/promociones']">Promociones</a>
    </div>
  </div>
</nav>
  <h1 style="padding: 30px;" class="titulo">Lista de eventos</h1>
<div style="padding: 50px;">
  <table class="table table'bordered">
    <thead class="thead">
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Fecha</th>
        <th>Editar</th>
        <th>Eliminar</th>
      </tr>
    </thead>
    <tbody class="tbody"> 
      <tr *ngFor="let user of userDetails">
        <td>
          {{user.id}}
        </td>
        <td>
          {{user.nombre}}
        </td>
        <td>
          {{user.fecha}}
        </td>
        <td>
          <button type="button" class="btn btn-primary boton"data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="updateUser(user,user.id)">Editar</button>
        </td>
        <td>
          <button type="button" class="btn btn-danger" (click)="deleteUser(user.id)">Eliminar</button>
        
        </td>
      </tr>
    </tbody>

  </table>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Editar usuario</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="nombres">Nombre:</label>
            <input type="text" #name  name="nombres" class="form-control" placeholder="Nombres"a [(ngModel)]="userToUpdate.nombre"/>
            </div>
          <div class="form-group">
            <label for="apellidos">Fecha:</label>
            <input type="date" #name  name="apellidos" class="form-control" placeholder="Apeliidos" [(ngModel)]="userToUpdate.fecha"/>
          </div>
          <div class="form-group">
            <label for="user">Precio:</label>
            <input type="text" #name  name="user" class="form-control" placeholder="User" [(ngModel)]="userToUpdate.precio"/>
          </div>
          
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="edit(userToUpdate, userToUpdate.id)">Save changes</button>
      </div>
    </div>
  </div>
</div>